
body {
  background-color: #000;
  color: #fff;
  font-family: monospace;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  word-wrap: break-word;
  
  .no-style {
  color: #FFFFFF; /* Change to your desired color */
  text-decoration: none; /* Removes underline */
  }

   .disso-style {
  color: #787276; /* Change to your desired color */
  text-decoration: none; /* Removes underline */
  }

   .stim-style {
  color: #FDDC5C; /* Change to your desired color */
  text-decoration: none; /* Removes underline */
    }

    .shroom-style {
  color: #FF1DCE; /* Change to your desired color */
  text-decoration: none; /* Removes underline */
    }
  
    .deliri-style {
  color: #3d215e; /* Change to your desired color */
  text-decoration: none; /* Removes underline */
    }
  
}

    .empath-style {
  color: #ffbcd9;
  text-decoration: none;
}

nav {
  margin-bottom: 20px;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

pre {
  white-space: pre-wrap;
}
footer {
  margin-top: 40px;
  text-align: center;
  color: #999;
}
